@import url("https://fonts.googleapis.com/css?family=Sarala&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #21252d;
  color: white;
  font-family: "Sarala", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main > section {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.section-heading {
  display: flex;
}

.section-heading > * {
  margin-right: 10px;
}

.display {
  font-size: 3rem;
  padding: 1.5rem;
  background-color: #282e39;
  border-radius: 0.65rem;
}

.code-translator__display {
  font-size: 2rem;
  height: 5rem;
}

.code-reader__display {
  height: 7rem;
  border-radius: 0 0 0.65rem 0.65rem;
}

.code-reader__status {
  height: 2rem;
  background-color: rgb(182, 31, 31);
  border-radius: 0.65rem 0.65rem 0 0;
}

.code-reader__status.active {
  background-color: #02a245;
}

.code-reader__utility {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 10px 0;
}

.code-reader__utility--legend {
  display: flex;
}

.legend {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.legend:first-child {
  margin-left: 0;
}

.legend__status {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 10px;
  background-color: rgb(182, 31, 31);
}

.legend__status.active {
  background-color: #02a245;
}

.legend__display {
  padding: 10px;
  text-align: center;
  background-color: #282e39;
  border-radius: 0 0 5px 5px;
}

.legend__icon {
  display: flex;
  justify-content: center;
}

.legend__icon svg {
  width: 4rem;
  height: 4rem;
  fill: white;
}

.legend__desc {
  font-size: 0.75rem;
  line-height: 0.85rem;
}

.legend__desc .emphasize {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
}

.button {
  background: transparent;
  fill: white;
  border: none;
}

.button svg {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: bottom;
}
